.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
.idea/
.vscode/
.DS_Store
Thumbs.db

# .NET
**/bin/
**/obj/

# Frontend (Angular)
frontend/node_modules/
frontend/dist/
frontend/.angular/cache/
frontend/tmp/
frontend/out-tsc/
frontend/bazel-out/
frontend/coverage/
frontend/.sass-cache/
frontend/connect.lock
frontend/libpeerconnection.log
frontend/testem.log
frontend/typings/
frontend/__screenshots__/
